.fishBone * {
    margin: 0;
    padding: 0;
}
.tempWrap{
  height:404px;
  margin:0 auto;
}

.fishBone ul {
    overflow: visible !important;
}

.fishBone ul, li {
    list-style: none;
    line-height: 26px
}

.fishBone {
    color: #767676;
    width: 80%;
    height: 100%;
    position: relative;
    font-size: 12px;
    margin: 0px auto;
    z-index: 9;
}

    .fishBone .wrapper {
        padding: 0 10px;
        margin: auto;
    }

        .fishBone .wrapper .bd {
            /*overflow: hidden;*/
        }

    .fishBone .item {
        position: relative;
        width: 280px;
        height: 203px;
        display: inline-block;
      z-index: 2;
    }

/*.fishBone .item:first-child{*/
  /*left:0 !important;*/
/*}*/
/*.fishBone .item.bottom:nth-child(2){*/
  /*left:-120px;*/
 /*}*/
/*.fishBone .item.top{*/
  /*left:-241px;*/
/*}*/
/*.fishBone .item.bottom{*/
  /*left:-361px;*/
 /*}*/
.line-time{
    font-size: 18px;
    line-height: 32px;
    background: #1667a0;
    color: #fff;
}
.top .line-time{
    padding-top: 10px;
}
.bottom .line-time{
    padding-bottom:10px;
}
.fishBone .item .first {
            line-height: 2em;
        }

        .fishBone .item .title {
            border-left: none;
        }

            .fishBone .item .title .title-left {
                display: inline-block;
                width: 15px;
                line-height: 2.1em;
                background: url("../goto/title.png") no-repeat 0 0;
                font-size: 14px;
            }

            .fishBone .item .title .title-center {
                display: inline-block;
                background: url("../goto/title.png") repeat-x 0 -600px;
                font-size: 15px;
                font-weight: bold;
                font-family: '微软雅黑';
                line-height: 2.1em;
                color: white;
            }

            .fishBone .item .title .title-right {
                display: inline-block;
                width: 15px;
                line-height: 2.1em;
                background: url("../goto/title.png") no-repeat 0 -1200px;
                font-size: 14px;
            }

        .fishBone .item .title {
            display: block;
            position: relative;
            left: -33px;
            background: url(../goto/line-point.png) no-repeat 12px -212px;
        }

        .fishBone .item.top .title {
        }

        .fishBone .item.bottom .title {
            bottom: 0;
        }

        .fishBone .item .content {
            position: absolute;
          height:203px;
        }

        .fishBone .item.top .content {
            top: 7px;
        }

        .fishBone .item.bottom .content {
            bottom: -203px;
        }

        .fishBone .item.bottom {
        }

        .fishBone .item .content ul {
        }
        .fishBone .item .content ul li.line-text{
          padding:15px;
          background: #1667a0;
          color: #fff;
          font-size:16px;
        }
                .fishBone .item .content ul li.line-first {
                  width: 0;
                  height: 0;
                  border-left: 10px solid transparent;
                  border-right: 10px solid transparent;
                  border-bottom: 10px solid #1667a0;
                  margin:0 auto;
                    /*position: relative;*/
                    /*padding-left: 19px;*/
                    /*left: -4px;*/
                    /*border-left: 0 !important;*/
                    /*background: url(../goto/line-first.png) no-repeat 0px 0px;*/
                    /*font-size: 14px;*/
                    /*font-family: '微软雅黑';*/
                    /*font-weight: 550;*/
                }

                .fishBone .item .content ul li.line-last {
                    border-left: none;
                }

        .fishBone .item.top .content ul li .name {
        }

        .fishBone .item.top .content ul li .text {
        }
    /**prev next*/
    .fishBone .prev {
        /*position: absolute;
        top: 67px;
        left: 0;
        display: inline-block;
        width: 20px;
        height: 40px;
        background: url(../goto/arrow.png) no-repeat -1px 13px;*/
        position: absolute;
        top: 68px;
        left: -10px;
        display: inline-block;
        width: 20px;
        height: 40px;
        background: url(../goto/arrow.png) no-repeat -1px -28px;
        -moz-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
    }

        .fishBone .prev:hover {
            /*cursor: pointer;
            background-position-y: -28px;*/
        }

    .fishBone .next:hover {
        /*cursor: pointer;
        background-position-y: -28px;*/
    }

    .fishBone .next {
        position: absolute;
        top: 68px;
        right: 0;
        display: inline-block;
        width: 20px;
        height: 40px;
        background: url(../goto/arrow.png) no-repeat -19px 13px;
    }
    /**line**/
    .fishBone .line {
        position: absolute;
        top: 203px;
        height: 1px;
        width: 100%;
        border-bottom: 2px solid #e13834;
        z-index: 1;
    }

    .fishBone .item .line-point {
        position: absolute;
        left: 50%;
        bottom: -9px;
        display: block;
        height: 31px;
        width: 31px;
        margin-left: -16px;
        background: url(../goto/line-point.jpg) no-repeat 0px 0px;
    }

    .fishBone .item.bottom .line-point {
        top: -14px
    }

 .colorD {
    -moz-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
    filter: FlipV;
    -ms-filter: "FlipV";
}

 .bgmsg {
    height: 190px;
    font-size: 25px;
    line-height: 190px;
    text-align: center;
    width: 95%;
    background-color: #fcfcfc;
}

 .prevLeftImg {
    position: absolute;
    top: 186px;
    left: -40px;
    width: 30px;
    height: 36px;
    background: url(../goto/arrow.png) no-repeat 5px -136px;
    display: inline-block;
    cursor: pointer
}

 .fishBoneDiv {
    width: 95%;
    margin: 80px auto 0;
}

 .nextRightImg {
    position: absolute;
    top: 186px;
    right: -40px;
    width: 30px;
    height: 36px;
    background: url(../goto/arrow.png) no-repeat 5px -190px;
    display: inline-block;
    cursor: pointer
}
.fishBone .item.isEmphasis li.line-text{
  background: #e13834 !important;
}
.fishBone .item.isEmphasis li.line-first{
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #e13834 !important;
}
.fishBone .item.isEmphasis .content ul li.line-last{
  background-position: 0px -36px;
}
